name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Build Go code
        run: go build ./...

      - name: Run Go vet
        run: go vet ./...

      - name: Run Go tests with coverage
        run: go test -v -coverprofile=go_cover.out ./...
        
      - name: Upload Go coverage
        uses: actions/upload-artifact@v6
        with:
          name: go-coverage
          path: go_cover.out
